<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="worker"  class="di02.Worker" />
<bean  id="executor" class="di02.Executor" >
	<property name="worker"  ref="worker"/>
</bean>

</beans>